
{% extends 'base.html' %}

{% block content %}
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{product.image.url}}" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">SKU: BST-498</div>
                <h1 class="display-5 fw-bolder">{{product.name}}</h1>
                <div class="fs-5 mb-5">
                    <span class="text-decoration-line-through"></span>
                    <span>${{product.price}}</span>
                </div>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at dolorem quidem modi. Nam sequi consequatur obcaecati excepturi alias magni, accusamus eius blanditiis delectus ipsam minima ea iste laborum vero?</p>
            <a class="btn btn-danger" href="{% url 'delete_product' product.id %}"><i class="fa-solid fa-trash-can-arrow-up"></i></a>
            <a class="btn btn-warning" href="{% url 'update_product' product.id %}"><i class="fa-solid fa-pen-to-square"></i></a>
            </div>
            
        </div>
    </div>
</section>

{% endblock content %}